body{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
hr{
   background-color:white;
}


#canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:2px 2px 4px #000000;
}
#score{
    text-align: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
p{
    text-align: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-shadow: 2px 2px 4px #000000;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;

}
#button1{
    color: black;
    font-size: 1.2em;
    border: 2px solid grey;
    background-color: pink;
    margin: 5px;
    
} 
.hidden{
    display: none;
}
#hiddenBtn{
    display: none;
}
